

.inquiry_reply_main_frame {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding-top: 40px;
    box-sizing: border-box;
}

.inquiry_information_frame {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding-bottom: 32px;
    box-sizing: border-box;
}

.inquiry_key_information_frame {
    display: flex;
    width: 100%;
    height: auto;
    gap: 8px;
}

.inquiry_information_text {
    font-size: 16px;
    color: #1A1A1B;
    word-break: keep-all;
    line-height: 1.75;
}


.inquiry_reply_frame {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding-top: 32px;
    box-sizing: border-box;
    border-top: solid 1px #e1e1e1;
}

@media all and (max-width:768px) {
    .inquiry_reply_main_frame {
        padding: 32px 16px 0px 16px;
    }
}