
.password_reset_cover_frame {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 80px 0px;
    box-sizing: border-box;
    background: rgba(160, 168, 192, 0.1);
}

.password_reset_error {
    display: flex;
    font-size: 12px;
    color: #FF0000;
}

.sellreports_password_reset_frame {
    display: flex;
    width: 100%;
    max-width: 520px;
    height: fit-content;
    padding: 24px;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 8px 24px 0 rgba(149, 157, 165, 0.2);

}

.password_reset_title {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 23px;
    color: #1A1A1B;
}

.password_reset_input_frame {
    display: flex;
    width: 100%;
    height: auto;
    gap: 8px;
    flex-direction: column;
    padding-top: 24px;
    box-sizing: border-box;
}

.password_reset_input_title_text {
    font-size: 15px;
    color: #1A1A1B;
}

.password_reset_input {
    display: flex;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: solid 1px #eee;
    padding: 0px 0px 0px 16px;
    box-sizing: border-box;
    margin: 0px;
    outline: none;
    font-size: 14px;
    letter-spacing: 0.1px;
    transition: border 0.3s;
}

.password_reset_input:focus {
    border: solid 2px rgba(0, 102, 255, 0.4);
}

.password_reset_agreement_frame {
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 24px;
    box-sizing: border-box;
    gap: 8px;
}

.password_reset_agreement {
    display: flex;
    width: 18px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.7);
}

.password_reset_agreement_text {
    font-size: 14px;
    color: #1A1A1B;
    text-decoration: none;
}

.password_reset_button {
    display: flex;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background: #0066FF;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    margin-top: 32px;
    padding: 0px;
    border: 0px;
    cursor: pointer;
}

.user_signin_link {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    color: #616161;
    text-decoration: none;
    margin-top: 32px;
}


@media all and (max-width:767px){
    .password_reset_cover_frame {
        padding: 0px;
        padding-bottom: 40px;
        background: #fff;
    }
    .sellreports_password_reset_frame {
        border-radius: 0px;
        padding: 24px 16px;
        box-shadow: none;
        align-items: flex-start;
    }
} 



/* ------- password_reset loading ------ */


.password_reset_loader_frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    gap: 8px;
  }

  .password_reset_loader{
      width: 8px;
      height: 8px;
      background-color: #fff;
      border-radius: 50%;
      animation: bounce 0.5s ease-in infinite;
      animation-direction: alternate;
    }
    
  .password_reset_loader:nth-child(2){
  animation-delay: 0.1s;
  }
  .password_reset_loader:nth-last-child(3){
  animation-delay: 0.2s;
  }

  @keyframes bounce {
   from{
    transform: translateY(0);
   }

   to{
    transform: translateY(10px);
   }
  }
  



.password_change_complete_main_frame {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.password_change_complete_main_frame.open {
    visibility: visible;
    opacity: 1;
}

.password_change_complete_frame {
    display: flex;
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.password_change_complete_main_text {
    font-size: 18px;
    color: #1A1A1B;
    margin-top: 8px;
}

.password_change_complete_sub_text {
    font-size: 15px;
    color: #616161;
    text-align: center;
    margin-top: 16px;
}

@media all and (max-width:767px){
    .email_authentication_request_cover_frame {
        padding: 0px !important;
        padding-bottom: 40px !important;
        background: #fff !important;
    }
    .sellreports_email_authentication_request_frame {
        border-radius: 0px !important;
        max-width: none !important;
        box-shadow: none !important;
        padding: 24px 16px 16px 16px !important;
    }
} 
