.membership_subscription_main_cover {
    display: flex;
    width: 100%;
    height: auto;
    flex: 1;
    flex-direction: column;
}

.membership_subscription_header {
    display: flex;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(44, 103, 242, 0.3) 0%, rgba(98, 207, 244, 0.01) 100%);
}

.membership_content_frame {
    display: flex;
    width: 100%;
    max-width: 550px;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
}

.membership_price_frame {
    display: flex;
    width: 100%;
    height: auto;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    border: solid 1px #eee;
    background: #fafafa;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}