
.category_nav_bar {
    display: flex;
    width: 100%;
    min-height: 40px;
    border-bottom: solid 1px #E8EEF2;
    justify-content: center;
}

.category_nav_button_frame {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    gap: 24px;
}

.category_nav_button {
    display: flex;
    width: auto;
    height: 54px;
    border-bottom: transparent;
    transition: 0.2s border;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
    color: #1A1A1B;
    box-sizing: border-box;
    align-items: center;
}

.category_nav_button:hover {
    border-bottom: solid 3px #0066FF;
}

.category_nav_button.selected {
    border-bottom: solid 3px #0066FF;
}

/* category_base_media */

@media all and (max-width:1199px)  {    
    .category_nav_button_frame {
        max-width: 768px;
    }

}



@media all and (max-width:767px){
    .category_nav_button_frame {
        padding: 0px 16px;
        box-sizing: border-box;
        overflow: scroll;
        -ms-overflow-style: none; /* 인터넷 익스플로러 */
        scrollbar-width: none; /* 파이어폭스 */
    }
    .category_nav_button_frame::-webkit-scrollbar {
        display: none;
    }
}