.g_article_g_button_frame {
    display: flex;
    width: auto;
    min-width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    gap: 8px;
    background: transparent;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
    position: relative;
}

.g_article_g_button_frame:hover {
    background: #eee;
}


.g_article_g_button_frame.round {
    border-radius: 50%;
}

.g_article_g_button_frame.straight {
    border-radius: 4px;
}

.g_article_action_button_text {
    font-size: 14px;
    color: #1A1A1B;
}

.g_article_g_button_icon {
    width: 24px;
    height: 24px;
}

@media all and (max-width:768px) {
    .g_article_g_button_frame {
        position: initial;
    }
    .g_article_g_button_frame:hover {
        background: none;
    }
}

