.community_skeleton_type1_frame {
    display: flex;
    width: calc((100% - 72px) / 4);
    height: auto;
    flex-direction: column;
    text-decoration: none;
}

.community_skeleton_type1_frame.type_option {
    width: calc((100% - 80px) / 3);
}

.community_skeleton_type1_image {
    width: 100%;
    height: 130px;
    border-radius: 8px;
    object-fit: cover;
    display: block;
}

.community_skeleton_type1_text_100 {
    display: flex;
    width: 100%;
    height: 24px;
    border-radius: 4px;
    margin-top: 24px;
}

.community_skeleton_type1_text_50 {
    display: flex;
    width: 70%;
    height: 16px;
    border-radius: 4px;
    margin-top: 16px;
}

.community_skeleton_type1_text_additional_info {
    display: flex;
    width: 50%;
    height: 22px;
    border-radius: 4px;
    margin-top: 24px;
}


@media all and (max-width:1199px) {
    .community_skeleton_type1_frame {
        min-width: 230px;
        max-width: 230px;
    }
    .community_skeleton_type1_frame.type_option {
        width: calc((100% - 48px) / 2);
        min-width: none;
        max-width: none;
    }
}
@media all and (max-width:768px) {
    .community_skeleton_type1_frame.type_option {
        width: 100%;
        min-width: none;
        max-width: none;
    }
}

